/*
    Fix fenced code block rendered in single line
*/
.hljs {
    overflow-x: auto !important;
    padding: 0.5em !important;
    color: #333 !important;
    background: #f8f8f8 !important;
}

code {
    white-space: pre !important;
    word-wrap: normal !important;
    font-size: 12px !important;
}
.wy-nav-content {
	max-width: 100%!important;
}
